---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  seo={{
    title: "Sprite Your SVGs | José Donato",
    description: "A tool to optimize and sprite your SVG files for better web performance and easier management.",
  }}
>
  <div class="max-w-full mx-auto">
    <iframe
      src="https://sprite-your-svgs.vercel.app/?simplify=true"
      class="w-full h-full rounded-lg min-h-[1800px]"
      title="Sprite your SVGs Tool"
      loading="lazy"></iframe>
  </div>
</Layout>
