---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-full mx-auto">
    <iframe
      src="https://sprite-your-svgs.vercel.app/?simplify=true"
      class="w-full h-full rounded-lg min-h-[1800px]"
      title="Sprite your SVGs Tool"
      loading="lazy"></iframe>
  </div>
</Layout>
