---
import DarkMode from "./DarkMode.astro";
import Icon from "./Icon.astro";

const pathname = new URL(Astro.request.url).pathname;

const LINKS = [
  { name: "Home", href: "/", icon: "material-symbols-home" },
  {
    name: "Projects",
    href: "/projects",
    icon: "material-symbols-playlist-add-check",
  },
  {
    name: "Tools",
    href: "/tools",
    icon: "material-symbols-build",
  },
];
---

<div
  class="z-50 fixed bottom-2 flex left-1/2 -translate-x-1/2 transition-all ease-in-out card bg-opacity-80 backdrop-blur-sm backdrop-filter p-0 bg-zinc-50 dark:bg-zinc-800 dark:bg-opacity-80"
>
  {
    LINKS.map((link) => (
      <a
        href={link.href}
        class:list={[
          {
            "text-zinc-700 dark:text-white": pathname === link.href,
            "text-zinc-600": pathname !== link.href,
          },
          "flex flex-col items-center px-4 py-2 hover:text-zinc-700 hover:bg-zinc-100 active:bg-zinc-200 dark:hover:text-white dark:hover:bg-zinc-800 dark:active:bg-zinc-700",
        ]}
        title={link.name}
      >
        <Icon id={link.icon} className="w-6 h-6" />
        <span class="text-[10px]">{link.name}</span>
      </a>
    ))
  }
  <div class="w-px bg-zinc-200 dark:bg-zinc-700"></div>
  <DarkMode />
</div>
