<p class="text-center text-xs text-text-muted mt-16 pb-10">
  Made with ❤️ by <a href="https://jose-donato.pages.dev" class="link"
    >José Donato</a
  >. <br />Open source on <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://github.com/jose-donato/jose-donato.pages.dev"
    class="link">GitHub</a
  >. If you like it, please give it a ⭐️!
</p>
